<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TEST FOR HICHEM
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TEST FOR HICHEM</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div *ngFor="let user of users">
      <img style="border-radius: 10px;" src={{user.picture.large}}/>
      <p>{{user.name.first}}</p>
      <p>{{user.email}}</p>
      <p>Hello Hichem</p>
    </div>
  </div>
</ion-content>
