<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/onboard"></ion-back-button>
    </ion-buttons>
    <ion-title>School Key</ion-title>
  </ion-toolbar>
 </ion-header>

 <ion-content padding>
  <ion-button expand="block" routerLink="/login" routerDirection="forward">
     Go to Login
  </ion-button>
 
 </ion-content>