
<ion-header>
  <ion-toolbar color="success">
    <ion-title>Welcome ONBOARDIng</ion-title>
  </ion-toolbar>
 </ion-header>
 
 <ion-content padding>
  <ion-button expand="block" routerLink="/school" routerDirection="forward">
     Go to School Key
  </ion-button>
 
 </ion-content>